// --------------- TimeLine ---------------
.post-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 200px;
  height: 200px;
  background-color: #EA352D;
  border-radius: 50%;

}

// --------------- Header ---------------
.header {
  background-color: orange;
  height: 100%;
  li {
    list-style: none;
    float: left;
  }
}

// --------------- Footer ---------------
.footer {
  background-color: orange;
  li {
    list-style: none;
    float: left;
    padding: 10px;
    border-right: 1px solid black;
  }
}
